@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-pale-blue: hsl(225, 100%, 94%);
    --primary-bright-blue: hsl(245, 75%, 52%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --v-pale-blue: hsl(225, 100%, 98%);
    --dark-blue: hsl(223, 47%, 23%);
}

/* background */

body {
    line-height: 1.6;
    background-color: var(--primary-pale-blue);
    background-image: url('../images/pattern-background-desktop.svg');
    background-size: 100vw;
    height: 100vh;
    /* width: 100vw; */
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin: auto; */
    font-size: 1rem;
    font-family: 'Red Hat Display';

}

/* main container */

.container {
    display: flex;
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 400px; 
    /* margin-left: 16rem; */
    border-radius: 1rem;
    overflow: hidden;
}

/* hero */

.hero {
    width: 100%;
    height: 100%;
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* article content */

.article-content {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 2rem;
}

.article-header {
    font-size: x-large;
    font-weight: 900;
    margin-bottom: 0.5rem;
    color: var(--dark-blue);
}

.article-description {
    text-align: center;
    /* padding:0 3rem; */
    color: var(--desaturated-blue);
    margin-bottom: 2rem;
}

/* actions */

.article-options {
    display: flex;
    width: 100%;
    background-color: var(--v-pale-blue);
    color: var(--dark-blue);
    justify-content: space-between;
    /* margin: 0; */
    padding: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 1rem;
    font-weight: 700;
}

.a-income {
    color: var(--desaturated-blue);
    font-weight: 500;
}

.change {
    text-transform: capitalize;
    color: var(--primary-bright-blue);
    text-decoration: underline;
}


/* buttons */

.btn-container {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 999;
}

.btn {
    background: none;
    width: 100%;
    border: none;
    border-radius: 0.5rem;
    padding:1rem;
    margin-bottom: 1rem;
    font-weight: 700;
    font-family: 'Red Hat Display';
} 

.proceed-btn {
    background-color: var(--primary-bright-blue);
    color: #fff;
    box-shadow: -2px 14px 12px 1px rgba(0, 0, 0, 0.1);
}

.cancel-btn {
    color: var(--desaturated-blue);
}

/* mobile */

@media screen and (max-width: 500px) {

    .container {
        width: 340px;
    }

    .article-content {
        padding: 2rem;
    }

}


