.btn-primary {
    /* position:static; */
    background-color: transparent;
    color: #fff;
    font-size: small;
    font-family: 'Ubuntu';
    font-weight: 500;
    border: 1px solid #fff;
    border-radius: 1rem;
    padding: 0.6rem 1.5rem;
    margin:0 1rem;
}

.btn-primary:hover {
    /* position:relative; */
    transition: all 100ms linear;
    background-color: #fff;
    color: hsl(355, 100%, 74%);
    /* transition-delay: 300ms; */
    cursor:pointer;
    font-weight: 700; 
}

.flex-items .row {
    display:flex;
    width: 100%;
    flex-wrap: no-wrap;
    /* height: 100%; */
}

.flex-items-reverse .row{
    flex-direction: row-reverse;
}

.flex-items .column{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

 .row .col {
    flex:100%;
} 

.row .col-2 {
    flex:80%;
} 

.article {
    /* flex:1; */
    margin:4rem 3rem;
    /* border-left: 3px solid brown; */
}

 .article-img{
    position: relative;
    top:0;
    left:0px;
    right:-200px;
    overflow:hidden;
    height: 100%;
    width: 90%;
    object-fit: contain;
    /* text-align: right; */
    /* text-align:center; */
}


.article-img-2{
    position: relative;
    top:0;
    /* flex:1; */
    left:0px;
    /* right:230px; */
    overflow:hidden;
    height: 100%;
    width: 90%;
    object-fit: contain;
}

.header-1 {
    text-align: center;
    margin:2rem 0;
    font-size: 2.5rem;
    color:hsl(237, 23%, 32%);
    margin-bottom: 1rem;
}


.article-header {
    color:hsl(237, 23%, 32%);
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.article-info {
    margin-bottom: 2rem;
    /* letter-spacing: 1.5px; */
    word-spacing: 2px;
}

.dark-bg {
    position: relative;
    background: url('../images/bg-pattern-circles.svg') left ;
    background-repeat: no-repeat;
    background-color: hsl(237, 23%, 32%);
    height:560px;
    margin-bottom: 10rem;
    border-top-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
}

.stack .row {
    position: absolute;
    top:-85px;
    left:0;
    display:flex;
    width: 100%;
}

.stack .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
}

.article-2 {
    /* background-color: hsl(237, 23%, 32%); */
    /* width: 100%; */
    /* margin:6rem; */
    /* padding: 0; */
    margin: 4rem 3rem;
    border-bottom-left-radius: 5rem;
    border-top-right-radius: 5rem;
    color: #fff;
}

.article-img-col {
    height: 100%;
    width:100%;
    object-fit: contain;
}

.mob-article-header {
    /* margin-bottom: 1rem; */
    padding: 3.5rem 2rem 3rem 2rem;
    font-size: 1.5rem;
}

.mob-article-info {
    padding:0 2.5rem 2rem 2.5rem;
    opacity: 0.9;
    margin-bottom: 2rem;
    word-spacing: 2px;
}





